/* CSS file */
html {
  height: 101%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  padding-top: 50px;

  font-family: "Open Sans", sans-serif;
  color: #333;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Header */
header .heading {
  text-align: center;
}

/* Thumbnails */
#thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#thumbnails .course {
  background-color: #07CDFF;
  color: #fff;
  text-align: center;
  margin: 0.5em;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  cursor: default;
}

#thumbnails .course:hover {
  background-color: #D295BF;
  color: #454E9E;
}

/* Details */
#details-container {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  width: 1000px;
  text-align: left;
}

#details {
  background-color: lightgreen;
  width: 600px;
  margin: 0 auto;
}

.details-left {
  background-color: pink;
  flex-grow: 1;
  float: left;
}

.details-right {
  background-color: pink;
  flex-grow: 1;
  float: right;
}

#details-close {
  display: block;
}

#details .degree, #details .ects {
  font-size: 0.750em;
  margin: 0;
  padding: 0;
}

#details .degree {
  font-style: italic;
}

/* Footer */
footer {
}
